@import url(reset.css);
*{
margin: 0;	
}
#body{
height:auto;
max-width:1200px;
	}
#wrapper{
max-width:auto;
height:auto;
outline: 0px solid #cc0000;

}

#heder{
height:150px;
outline: 0px solid #000000;
background-color: #00BFFC;
} 

 #iHeder{
height:150px;
outline: 0px solid #3AE2CE;
background-image: url(../images/heder.jpg);
position: relative;
}
 

#nav{
height:46px;
width:900px;
background-image: url(../images/navBg.png);
position: absolute;
left:0;
bottom: -7px;
}


#nav li {
float: left;
outline: 0px solid #cc0000;
height:46px;
background-image: url(../images/navDel.png);
background-repeat: no-repeat;
}
#nav li.first a{background: none;}
#nav li.last a {
padding-right: 5px;
padding-left: 5px;
}

#nav li  a{
 outline: 0px solid #00FFA9;
 display: block;
 height:29px;
 padding:15px 5px 0 5px;
 text-decoration: none;
 color:#0553C0;
 font: bold 12px Arial, sans-serif;
 text-transform: uppercase;
 }
 #nav li  a:hover{
 color:#80523A;
  }
  
 #nav2 li  a:hover{
 color:#80523A;
  }
 #nav2 li {
float: left;
outline: 0px solid #cc0000;
height:46px;
 
background-repeat: no-repeat;
}
 
#nav2 li  a{
 outline: 0px solid #00FFA9;
 display: block;
 height:29px;
 padding:27px 0 0 0;
 text-decoration: none;
 color:#0553C0;
 font: bold 12px Arial, sans-serif;
 text-transform: uppercase;
 }
 #nav2 li.first  a{
 padding-left: 40px;
 padding-right: 40px;
 background: none;}
 #nav2 li.second  a{
 padding-left: 30px;
 padding-right: 30px;
 background: none;}
 #nav2 li.third  a{
padding-left: 25px;
 padding-right: 30px;
 background: none;}
 #nav2 li.last a {
 padding-left: 25px;
 padding-right: 20px;
 
}

#nav3 li a:hover{
 color:#80523A;
  }
 #nav3 li {
float: left;
outline: 0px solid #cc0000;
height:46px;
background-image: url(../images/navDel.png);
background-repeat: no-repeat;
}
 
#nav3 li  a{
 outline: 0px solid #00FFA9;
 display: block;
 height:29px;
 padding:5px 0 0 0;
 text-decoration: none;
 color:#059400;
 font: bold 12px Arial, sans-serif;
 text-transform: uppercase;
 }
 #nav3 li.first  a{
 padding-left: 60px;
 padding-right: 55px;
 background: none;}
 #nav3 li.second  a{
 padding-left: 60px;
 padding-right:55px;
 background: none;}
 
 #nav3 li.last a {
 padding-left: 75px;
 padding-right: 55px;
 
}

#operator{
position: fixed;
width:22px;
height:180px;
top:350px;
left:0;
}

 
#content{
height:auto;
outline: 0px solid #000000;
background-color: #fff;
 
 
}
#slider{
height:300px;
outline: 0px solid #000000;
background-color: #fff;
}
#footer{
height:50px;
outline: 0px solid #000000;
background-color:#FFCC68;
 }
 
  

#iHeder, #iSlider, #icontent, #iFooter{
width: 900px;
margin: 0 auto;
outline: #CCC;
}
 

#icontent{
height:auto;
outline:0px solid #cc0000;
border: 1px solid #AEC5DF;
background-color: #fff;
}

#iSlider{
	height:300px;
 background-color: #fff;	
 outline: 0px solid #473AC4;
 border: 1px solid #AEC5DF;
}
#iFooter{
height:50px;
outline: 0px solid #3AE2CE;
background-color: #B27518; 
border: 1px solid #AEC5DF;
}



#icontent p{
font-size: 18px;
padding: 15px; 
line-height: 170%;
   text-align: justify;
   text-indent: 5%;
   background-color: FEFEFE;
}

#icontent table p{

   text-indent: 5%;
   
} 

#img1{
margin: 50px 10px 0 50px;
float: left;
}
#img11{
margin: 5px 5px 5px 5px;
float: right;
}
#img2{
float: left;
margin: 40px 0 0 20px;
}

#img2:hover{
 opacity: 0.8;
}


.imgNav{
margin: 50px 50px 0 50px;
float: left;
}

.imgNav:hover{
 opacity: 0.8;
}

table{
margin: auto;
} 

#tableSh{
vertical-align: middle;	
text-align:justify;
padding: 10px;
font:  italic 16px Times New Roman, serif;
}
#tableL{
vertical-align: middle;	
text-align:justify;
padding: 10px;
font:  italic 16px Times New Roman, serif;
width: 380px;	
}
.name{
font:  italic 26px Times New Roman, serif;
color:#039;
	}

.nameDsp{
font:  italic 22px Times New Roman, serif;
color:#039;
	}

#icontent h1{
color: #CCA270;
margin: 20px;
font-size: 28px;
text-align: right;
padding: 0 100px 0 0;
}

headline{
margin: 50px 10px 0 250px;

}

#note{
margin: 1px 10px 10px 10px;
font-size: 18px;
line-height: 150%;
text-align: justify;
background-color: FEFEFE;
}



 
#gallery	 li {
	
		float: left;
		display: block;
		margin: 10px;
	 }
	 
#gallery  li a img{
	 opasity: 0,5;
    -webkit-box-shadow: 2px 2px 2px 2px #111;
       -moz-box-shadow: 2px 2px 2px 2px #111;
            box-shadow: 2px 2px 2px 2px #111;
	
	}	



/*form data*/
#notcont p{
font-weight:bold;
 margin: 2px 2px 2px 2px;
 padding: 2px 2px 2px 2px;
}
#notcont{
	
height: 500px;
}

 #contact{
position:relative;
left: 20px;
right: 20px;	 
}

fieldset{
padding:5px;
margin:5px;
border:1px solid #cccccc;
background-color:#DEDEDE;
width: 500px;
 
 
}

textarea{
border:1px solid #333333;
background-color:#DEDEDE;
 margin: 2px 10px;
width: 450px;
}

.tp{
margin-left: 10px;
}

 




#iFooter a{
float: right;
 
 
margin: 10px 5px 0 0;
}


.slimbox1{
align: "center"	;
vertical-align: middle;
margin: auto;

	}


/*слайд шоу*/
#slideshow {
 
float: left;
padding-right: 15px;
width: 375px;
margin: 50px 10px 10px 10px ;
}
#slides {
 
height: 200px;
margin: 50px 10px 10px 10px ;
 
padding-right: 15px;

}





















